body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #070707;
}

header {
    background-color: rgb(212, 110, 110);
    color: #fff;
    padding: 10px;
    opacity:0.9;
}
header h5{
    line-height:0;
    text-align: center;
    font-style:italic;
}

header  p{
    font-size:40px;
    text-align: center;
    margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
main {
    padding: 20px;
}

.featured-movie {
    position:relative;
    margin-bottom: 30px;
    height: 500px;
    width: 800px;
}
.k>img{
    position:absolute;
    height:400px;
    width:500px;
    right:50px;
    top:280px;
}

.movie-card {
    background-color: #686363;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-card h3 {
    margin-top: 10px;
}

.movie-info {
    font-size: 14px;
    color: #666;
}

.movie-summary {
    margin-top: 10px;
}

.read-more {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.movie-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
}

.movie-card {
    background-color: #fff;
    border-radius: 5px;
    padding:20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-card h2 {
    margin-top: 10px;
}

.movie-description {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}